<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="bg-orange-50 flex items-center justify-center min-h-screen">
    <div
      class="bg-white rounded-xl shadow-lg p-8 w-full max-w-md flex flex-col gap-4 items-center"
    >
      <h1 class="text-4xl font-bold text-[#FB9E3A] mb-2">Oops!</h1>
      <p class="text-lg text-[#E6521F] mb-4 font-medium text-center">
        Terjadi kesalahan pada aplikasi.
      </p>
      <a
        href="/"
        class="px-4 py-2 rounded bg-[#FB9E3A] text-white font-semibold shadow hover:bg-[#E6521F] transition"
        >Kembali ke Beranda</a
      >
    </div>
  </body>
</html>
